{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Goods</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="flex flex-col min-h-screen bg-[#EDEAE3]">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
  
    <div class="bg-white shadow-md rounded-lg p-6 form-style">
      <h1 class="text-2xl font-bold text-center mb-6 text-black">Edit Goods</h1>
      <form method="POST" class="space-y-4"> <!-- Reduced spacing -->
        {% csrf_token %}
        {% for field in form %}
          <div class="flex items-center space-x-2"> <!-- Reduced space between label and input -->
            <label for="{{ field.id_for_label }}" class="font-semibold text-gray-700 w-1/4"> <!-- Reduced width -->
              {{ field.label }}
            </label>
            <div class="w-3/4"> <!-- Adjusted width -->
              {{ field }}
            </div>
          </div>
          {% if field.help_text %}
            <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
          {% endif %}
          {% for error in field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        <div class="flex justify-center mt-4"> <!-- Reduced margin -->
          <button type="submit" class="bg-[#85827f] hover:bg-[#615f5d] text-white font-semibold px-4 py-2 rounded-lg transition duration-300 ease-in-out w-full">
            Edit Goods
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
